# BLACK-SCHOLES OPTION PRICING MODEL CONFIG FILE

# Sample entries
tempFolder = %TEMP%

################################################################################
USE_BSOPM_DEFINES 	= TRUE
TIME				= 3
SIG					= 0.2
R					= 0.05
S0					= 100
NSTEPS				= 290
NPATHS				= 290000
NSAMPLES			= 100000
NUMTHREAD			= 1
INDEXGEN			= 0
STEP_INDEX			= 2
K					= 100
__SEED__			= 20000000
DIM					= 1
################################################################################



GET_AN_SOLUTION		= FALSE
AN_SOLUTION_FAIR	= FALSE
WRITE_ALL_FAIR 		= FALSE
AN_SOLUTION_PAR		= FALSE
IS_OPTIMIZED		= TRUE #doesn't works

#VERSION_INDEX = 0  # baseVer		
#VERSION_INDEX = 1  # eqBaseVer		
 VERSION_INDEX = 2  # updEqBaseVer	
#VERSION_INDEX = 3  # fpVer			
#VERSION_INDEX = 4  # erfVer			
#VERSION_INDEX = 5  # fpVerOld		
#VERSION_INDEX = 6  # erfVerOld		
#VERSION_INDEX = 7  # vectVer		
#VERSION_INDEX = 8  # vectErfVer		
#VERSION_INDEX = 9  # vectInvSqrtVer	
#VERSION_INDEX = 10 # parVer			
#VERSION_INDEX = 11 # parVerOld		
#VERSION_INDEX = 12 # parNontempVer	
#VERSION_INDEX = 13 # restrictVer	
#VERSION_INDEX = 14 # stdVectorVer	

################################################################################
USE_VOLATILE_PARAMS = TRUE
DELTA_R		= 0.000001
DELTA_SIG	= 0.000001
################################################################################

AN_SOLUTION_FULL	= TRUE
AN_SOLUTION_STOCK	= TRUE

NUM_SOLUTION_FULL	= TRUE
NUM_SOLUTION_STOCK	= TRUE
NUM_SOLUTION_FAIR	= TRUE
ALL_SOLUTIIONS_FULL	= TRUE
			